<div class="dashboard-container">

    <!-- SIDEBAR -->
  
    <div class="sidebar">
  
      <h2 class="logo">
        SmartFinance
      </h2>
  
      <a
  routerLink="/dashboard"
  routerLinkActive="active"
>
  Dashboard
</a>

<a
  routerLink="/income"
  routerLinkActive="active"
>
  Income
</a>

<a
  routerLink="/expense"
  routerLinkActive="active"
>
  Expense
</a>

<a
  routerLink="/budget"
  routerLinkActive="active"
>
  Budget Analytics
</a>
      <button
        class="logout-btn"
        (click)="logout()"
      >
        Logout
      </button>
  
    </div>
  
    <!-- PAGE CONTENT -->
  
    <div class="main-content">
  
      <router-outlet></router-outlet>
  
    </div>
  
  </div>